.container-login {
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
  min-height: 99.5vh;
  margin: auto;
  background-color: $secondary;

  @include desk {
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
  }

  .img-login {
    object-fit: cover;
    width: 100%;
    margin-top: 20px;
    height: 300px;
    @include desk {
      height: 100%;
      margin-top: 0;
      min-height: 90vh;
    }
  }
  .box-login {
    margin-block: auto;
    width: 100%;
    height: 50%;
    align-items: center;
    text-align: center;
    @include desk {
      height: 100%;
    }
    .box-login-container {
      display: flex;
      justify-content: space-evenly;
      align-items: stretch;
      flex-direction: column;
      width: 98%;
      font-size: large;
      margin: auto;
      margin-top: 10px;
      background-color: $tertiairy;
      border-radius: 30px;
      height: 70vh;
      @include desk {
        width: 98%;
      }
      a {
        margin-left: 0px;
      }
    }
    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      @include desk {
        gap: 10px;
        margin: 20px 0px 20px 0px;
      }
      h1,
      p {
        font-size: medium;
        color: $secondary;
        @include desk {
          font-size: large;
        }
      }
      .form-group {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 85%;
        position: relative;
        margin-bottom: 7px;
        @include desk {
          width: 90%;
        }
        label {
          text-align: left;
          padding-top: 10px;
          color: $secondary;
          font-size: small;
        }

        #btnEye {
          position: absolute;
          right: -18px;
          top: 31px;
          border-radius: 10px;
          border: solid 4px $secondary;
          width: 45px;
          height: 45px;
          &:hover {
            border-color: $primary;
          }
        }

        span {
          margin-top: 5px;
          font-size: x-small;
          text-align: start;
          color: $secondary;
        }
        .form-control {
          width: 90%;
          padding: 10px;
          //margin-top: 10px;
          &::placeholder {
            font-size: small;
            color: lighten($tertiairy, 40%);
          }
        }
      }
    }
  }
  .lien-signup {
    //margin: 60px 20px 20px 20px;
    color: $secondary;
    font-style: italic;
    font-size: small;
    &:hover {
      text-decoration: underline;
    }
  }
}
