.container-login {
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
  min-height: 99.5vh;
  margin: auto;
  
  @include tab {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    .imageLogin{
    width: 50%;
    }
  }

  .img-login {
    object-fit: cover;
    width: 100%;
    margin-top: 20px;
    height: 300px;
    @include tab {
      height: 100%;
      margin-top: 0;
      min-height: 90vh;
    }
  }
  .box-login {
    margin-block: auto;
    margin-inline: auto;
    width: 48%;
    height: 50%;
    align-items: center;
    text-align: center;
    @include tab {
      height: 100%;
      .box-login-container {
        display: flex;
        justify-content: space-evenly;
        align-items: stretch;
        flex-direction: column;
        font-size: large;
        margin: auto;
        background-color: $tertiairy;
        border-radius: 30px;
        height: 70vh;
      }
      
     
    }

    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 40px;
      margin: 20px 0px 20px 20px;
      @include desk {
        gap: 10px;
      }
      h1,
      p {
        font-size: medium;
        color: $secondary;
        @include desk {
          font-size: large;
        }
      }
      .form-group {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 90%;
        position: relative;
        label {
          text-align: left;
          padding-bottom: 10px;
        }
        
        #btnEye {
          position: absolute;
          right: 0px;
          top: 50px;
          border-radius: 10px;
          border: solid 4px $secondary;
          width: 40px;
          height: 40px;
          &:hover{
            border-color: $primary;
          }
        }
        
        span {
          margin-top: 5px;
          font-size: x-small;
          text-align: start;
        }
        .form-control {
          width: 90%;
          padding: 10px;
          margin-top: 10px;
          &::placeholder {
            color: lighten($tertiairy, 40%);
          }
        }
      }
    }
  }
  .lien-signup {
    margin: 60px 20px 20px 20px;
    color: $tertiairy;
    font-style: italic;
    font-size: small;
    &:hover {
      text-decoration: underline;
    }
  }
}
