.container-signup {
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
  min-height: 70vh;
  justify-content: flex-end;
  background-color: $secondary;
  @include desk {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }
  .img-signup {
    object-fit: cover;
    width: 100%;
    margin-top: 10px;
    height: 200px;
    @include desk {
      height: 100%;
      width: 50%;
      min-height: 100vh;
      margin-top: 0px;
    }
  }
  .box-signup {
    object-fit: cover;
    background-color: $tertiairy;
    width: 98%;
    margin: auto;
    border-radius: 30px;
    margin-top: 10px;
    padding: 10px 0px;

    @include desk {
      min-height: 95vh;
      margin: auto;
      width: 48%;
    }
    
    .newsfeed-link{
      margin-left: 0px;
      align-self: start;
      align-items: flex-start;
    }
    h1{
      margin-top: 10px;
      color: $secondary;
    }
    p{
      font-size: x-small;
      font-style: italic;
      color: $secondary;
    }
    #form-signup {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1vh;
      @include tab {
        gap: 2vh;
      }
      h1 {
        font-size: large;
      }
      .form-group {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 90%;
        label {
          text-align: left;
          padding-bottom: 5px;
          font-size: 18px;
          color: $secondary;
        }
        span {
          margin-top: 5px;
          font-size: x-small;
          text-align: start;
          color: $secondary;
        }
        .form-control {
          width: 100%;
          padding: 5px;
          &::placeholder {
            font-size: small;
            color: lighten($tertiairy, 40%);
          }
        }
      }
    }
  }
  .lien-signup {
    margin: 60px 20px 20px 20px;
    color: $tertiairy;
    font-style: italic;
    &:hover {
      text-decoration: underline;
    }
  }
}
