.navigation ul{
    margin-top: 20px;
    font-style: italic;
    font-weight: 700;
    font-size: 26px;
    text-decoration: none;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
a li{
    color: $tertiairy;
    text-decoration: underline;
    list-style-type : none;
}